{% extends 'base.html' %}
{% block content %}

    <div class="container  mx-auto px-2">        
        <div class="flex flex-wrap">
            <div class="flex items-center py-4 w-full">
                <div class="w-full">                    
                    <div class="">
                        <div class="flex flex-wrap justify-between">
                            <div class="items-center ">
                                <h1 class="font-semibold text-xl mb-0 block dark:text-slate-100">Tableau de bord</h1>
                                <ol class="list-reset flex text-sm">
                                    <li><a href="#" class="text-gray-500">Us Informatique</a></li>
                                    <li><span class="text-gray-500 mx-2">/</span></li>
                                    <li class="text-gray-500">Tableau de bord</li>
                                    <li><span class="text-gray-500 mx-2">/</span></li>
                                    <li class="text-blue-600 hover:text-blue-700">Gestion des Messages</li>
                                </ol>
                            </div>
                            <div class="flex items-center">
                                <button class="px-3 py-2 lg:px-4 bg-blue-500 text-white text-sm font-semibold rounded hover:bg-blue-600" onclick="window.location.href='{% url 'us' %}'" name="op1">Mon panel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div><!--end container-->

    <div class="container mx-auto px-2  min-h-[calc(100vh-138px)]  relative pb-14"> 
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4  mb-4">
            <div class="md:row-span-1 lg:row-span-1 xl:row-span-2 md:col-span-2 lg:col-span-2 xl:col-span-1  ">
                <div class="h-full bg-white dark:bg-slate-800 shadow rounded-md w-full p-4 relative overflow-hidden grid md:gap-4 lg:gap-2 xl:gap-4 md:grid-cols-1 lg:grid-cols-4">
                    <div class="md:col-span-4 lg:col-span-2 xl:col-span-4 self-center">
                        <h3 class="text-slate-800 dark:text-slate-200 text-center text-2xl md:text-2xl lg:text-lg xl:text-2xl font-bold leading-8 py-2 md:py-2 lg:py-1 xl:py-2"><span class="inline-block xl:block">US INFORMATIQUE</span>
                        <div class="text-center text-slate-400 text-base md:text-base lg:text-sm xl:text-base font-medium py-3">Des solutions informatiques des professionnels pour les professionnels</div>
                        <div class="text-center py-3 md:mb-3 lg:mb-0 xl:mb-3">
                            <button class="px-3 py-2 lg:px-4 bg-blue-500 text-white text-sm font-semibold rounded hover:bg-blue-600">A PROPOS</button>
                        </div>
                    </div>
                    <div class="md:col-span-4 lg:col-span-2 xl:col-span-4 block dark:hidden">
                        <img src="static/assets/images/widgets/user.png" alt="" class="px-3 mb-2 w-60 mx-auto">
                    </div>
                    <div class="md:col-span-4 lg:col-span-2 xl:col-span-4 hidden dark:block">
                        <img src="assets/images/widgets/user-light.png" alt="" class="px-3 mb-2 w-60 mx-auto">
                    </div>
                </div> <!--end inner-grid-->
            </div>
            <div class="sm:col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-3">
                <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow  rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-users text-3xl"></i>                        
                                </div>
                                <div class="self-center ml-auto">                            
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{ total_client_counts }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">Clients</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid--> 
                    </div>
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow  rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-clock text-3xl"></i>                        
                                </div>
                                <div class="self-center ml-auto">                            
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{ sms_count }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">SMS</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid--> 
                    </div>
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow  rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-activity text-3xl"></i>                        
                                </div>
                                <div class="self-center ml-auto">                            
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{ email_counts }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">Email</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid--> 
                    </div>
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-confetti text-3xl"></i>                        
                                </div>
                                <div class="self-center ml-auto">                            
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{  whatsapp_counts }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">WhatS' App</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid--> 
                    </div>
                </div>
            </div>

            <div class="sm:col-span-3 md:col-span-2 lg:col-span-2 xl:col-span-3">
                <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow  rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-clock text-3xl"></i>
                                </div>
                                <div class="self-center ml-auto">
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{ sms_count_diffusion}}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">DIFFUSION SMS</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid-->
                    </div>
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow  rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-activity text-3xl"></i>
                                </div>
                                <div class="self-center ml-auto">
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{ mail_whatsapp }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">Whatsapp Diffusion</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid-->
                    </div>
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-confetti text-3xl"></i>
                                </div>
                                <div class="self-center ml-auto">
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{  sms_sender_counts }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">Sender</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid-->
                    </div>
                    <div class="md:col-span-2 lg:col-span-2 xl:col-span-1">
                        <div class="bg-white dark:bg-slate-800 shadow  rounded-md w-full p-4 relative overflow-hidden bg-[url('https://mannatthemes.com/T-Wind/images/widgets/p-1.png')] bg-no-repeat bg-contain">
                            <div class="flex justify-between xl:gap-x-2 items-cente">
                                <div class="absolute -left-6 -top-4 text-blue-500 p-3 text-center inline-flex items-center justify-center w-32 h-32 ">
                                    <i class="ti ti-users text-3xl"></i>
                                </div>
                                <div class="self-center ml-auto">
                                    <h3 class="my-1 font-semibold text-2xl dark:text-slate-200">{{ customer_count }}</h3>
                                    <p class="text-gray-400 mb-0 font-medium">Users</p>
                                </div>
                            </div>
                        </div> <!--end inner-grid-->
                    </div>
                </div>
            </div>
        </div> 

            

            <div class="sm:col-span-1  md:col-span-2 lg:col-span-4 xl:col-span-1 ">
                <div class="h-full card">
                    <div class="card-header">
                        <h4 class="font-medium dark:text-slate-300">Recents Message</h4>
                    </div>
                    <div class="flex flex-col card-body">
                        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                                <div class="overflow-hidden">
                                    <table class="min-w-full">
                                        <thead class="bg-gray-50 dark:bg-gray-700">
                                            <tr>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                                    DATE
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                                    RECIPEINTS
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
SENDER
                                                </th>
                                                <th scope="col" class="p-3 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                                    MESSAGES
                                                </th>
                                            </tr>
                                        </thead>
                                        {% for adeline in adelines %}
                                        <tbody>
                                            <!-- 1 -->
                                            <tr class="bg-white border-b border-dashed dark:bg-gray-800 dark:border-gray-700">
                                                <td class="p-3 text-sm font-medium whitespace-nowrap dark:text-white">
                                                    <img src="assets/images/logos/chrome.png" alt="" class="mr-2 h-5 inline-block">{{ adeline.created_at }}
                                                </td>
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                   {{ adeline.recipient }}
                                                </td>
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                    {{ adeline.sender }}
                                                </td>
                                                <td class="p-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                                    {{ adeline.corps }}
                                                </td>
                                            </tr>
                                            <!-- 2 -->


                                        </tbody>
                                        {% endfor  %}

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!--end inner-grid-->
            </div>
        </div>
    </div><!--end container-->

{% endblock %}