{% extends 'base.html' %}
{% block content %}
<style>


.container {
  display: align-items;
  justify-content: center;
}
</style>

<br>
<br>


    <div class="container  mx-auto px-2">
        <div class="flex flex-wrap">
            <div class="flex items-center py-4 w-full">
                <div class="w-full">
                    <div class="">
                        <div class="flex flex-wrap justify-between">
                            <div class="items-center ">
                                <h1 class="font-semibold text-xl mb-1 block dark:text-slate-100">Sms</h1>
                                <ol class="list-reset flex text-sm">
                                    <li><a href="#" class="text-gray-500">US Informatique</a></li>
                                    <li><span class="text-gray-500 mx-2">/</span></li>
                                    <li class="text-gray-500">Sms</li>
                                    <li><span class="text-gray-500 mx-2">/</span></li>
                                    <li class="text-blue-600 hover:text-blue-700">Sms</li>
                                </ol>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end container-->

   <div class="container mx-auto px-6 min-h-[calc(100vh-138px)]  relative pb-14 ">
    <div class="grid md:grid-cols-12 lg:grid-cols-12 xl:grid-cols-12 gap-4 mb-4  ">
        <div class="sm:col-span-12  md:col-span-12 lg:col-span-6 xl:col-span-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Envoi de sms simple</h4>
                </div><!--end card-header-->
                <div class="card-body">
                    <div id="error_message" class="bg-red-400 text-white mb-3 rounded ease-out duration-500">

                    </div>
                    <div class="mb-2 input_field">

                    <form  method="POST" action="{% url 'emails:sms' %}">
                                        {% csrf_token %}
                             {{ form.as_p }}
                        <button type="submit" class="px-3 py-2 lg:px-4 bg-blue-500 text-white text-sm font-semibold rounded hover:bg-blue-600">Envoyé</button>

                    </form>
                </div><!--end card-body-->
            </div> <!--end card-->
        </div><!--end col-->
    </div><!--end inner-grid-->
    <!-- footer -->
</div><!--end container-->

    {% endblock %}


    <script src="{% static '/assets/libs/simplebar/simplebar.min.js' %]"></script>
    <script src="{% static '/assets/libs/simple-datatables/umd/simple-datatables.js' %]"></script>
    <script src="{% static '/assets/js/pages/datatable.init.js' %]"></script>